
h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: fantasy;
    color:black;
    background-image: linear-gradient(
    -225deg,
    #2700b6 0%,
    #6312ba 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.profile-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.fa-github {
  transform: scale(3, 3);
}

.fa-linkedin {
  transform: scale(3, 3);
}

.fa-github:hover {
  transform: scale(3.5, 3.5);
  }

  .fa-linkedin:hover {
    transform: scale(3.5, 3.5);
  }
.state-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
}

.current-state {
  color: black;
  font-size: 20px;
  text-decoration: underline;
}

#state-name {
  color: black;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 2px rgb(101, 101, 101);
  }

  #map-container {
    display: flex;
    justify-content: center;
  }

  path:hover {
    fill: aqua !important;
    cursor: pointer;
    transform: scale(1.003, 1.003);

  }


  // path:hover span #state-name {
  //   display: block !important;
  //   font-size: 12px;
  // }


  .season-filter {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  #Winter {
    background-color: blue;
    color: white;
    border-radius: 2em;
    cursor: pointer;
    font-family: cursive;
  }

  #Winter:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(1px 1px 10px rgb(1, 1, 255));
  }

  #Fall {
    background-color: coral;
    color:brown;
    border-radius: 2em;
    cursor: pointer;
    font-family: cursive;
  }

  #Fall:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(1px 1px 10px rgb(250, 122, 76));
  }

  #Spring {
    background-color: darkseagreen;
    color: gold;
    border-radius: 2em;
    cursor: pointer;
    font-family: cursive;
  }
  #Spring:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(1px 1px 10px rgb(119, 172, 119));
  }

  #Summer {
    background-color: gold;
    color:crimson;
    border-radius: 2em;
    cursor: pointer;
    font-family: cursive;
  }
  #Summer:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(1px 1px 10px rgb(252, 214, 0));
  }

  .music {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  #music-toggle {
    background-color: blueviolet;
    color: azure;
    border-radius: 2em;
    cursor: pointer;
  }
  #music-toggle:hover {
    transform: scale(1.05, 1.05);
  }

  body {
    background: url(https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80) no-repeat center center fixed;
    background-size: cover;
    height: cover;
    overflow: hidden;
  }

  #items {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin-top: -50px;
    margin-left: 600px;
    margin-right: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 175px;

  }


  //mabye implement a dropdown for this if time
  #items-list {
    display: flex;
    flex-direction: column;
  }

  .item-img {
   display: flex;
   justify-content: center;
   width: 75px;
   height: 75px;
  }

  // #item-desc {
  //   float: right;
  // }
